@import "../../../variables";

.datetimepicker.dropdown-menu {
  right: 0;
  left: auto;

  display: block;

  min-width: 265px;

  padding: 0;

  .btn {
    background-color: $gray-200;
  }
}

.datetimepicker-pos-right {
  right: auto;
  left: 0;
}
