@import "../../../variables";

.form-result-option {
  margin-top: $spacer / 2;

  .mdi-icon {
    width: 24px;

    height: 24px;

    margin-bottom: -3px;
    fill: $red;
  }

  &.active {
    color: $black;

    .mdi-icon {
      fill: $green;
    }
  }

  .form-result-option-label {
    position: relative;

    margin-bottom: $spacer / 2;

    font-weight: $font-weight-bold;

    .icon {
      position: absolute;
      top: 50%;
      left: ($spacer * -1.5);

      transform: translateY(-50%);
    }
  }
}
