@import "../../../variables";

.form-result-decision {
  padding-bottom: $spacer / 2;

  .mdi-icon {
    fill: $red;
  }

  &.active {
    .mdi-icon {
      fill: $green;
    }
  }

  .form-label {
    position: relative;

    margin-bottom: $spacer / 2;

    .icon {
      position: absolute;
      top: $spacer / 4;
      left: ($spacer * -1.5);
    }
  }
}
