@import "../../../variables";

.apply-for-mortgage-list {
  .table-row {
    border: 0;

    margin: 0 -0.25rem;

    .label {
      padding-right: $spacer / 2;
    }
  }

  .btn-task {
    color: $orange;
    background-color: $white;

    border: 2px solid $orange;
  }

  .table-row .btn-task {
    background: transparent;

    border-color: transparent;
  }

  .input-group .form-control {
    width: get-width("small");
  }
}
