@import "../../../variables";

$mdi-font-path: "~mdi/fonts/" !default;

@import "~mdi/scss/materialdesignicons";

.submit-request {
  .form-body {
    margin-top: $spacer * 2;

    font-weight: bold;
  }

  .form-label {
    display: none;
  }

  ul {
    list-style: none;

    padding-left: 0;

    li {
      position: relative;

      padding-left: 23px;

      &::before {
        content: mdi("arrow-right");

        position: absolute;
        top: 4px;
        left: 0;

        font: normal normal normal 16px/1 "Material Design Icons";
      }
    }
  }
}
