@import "../../../variables";

// Icons
$mdi-font-path: "~mdi/fonts/" !default;

@import "~mdi/scss/materialdesignicons";

.apply-for-mortgage-information {
  ul {
    list-style: none;

    padding-left: 0;

    li {
      position: relative;

      padding-left: 23px;

      &::before {
        content: mdi("check");

        position: absolute;
        top: 4px;
        left: 0;

        color: $orange;

        font: normal normal normal 1em/1 "Material Design Icons";
      }
    }
  }
}
