@import "../../../variables";

.application-header {
  background-color: $application-header-background;

  a {
    color: $application-header-link-color;
  }

  a:hover {
    color: $application-header-link-hover-color;
  }

  .generic-menu,
  .generic-menu .dropdown-toggle {
    flex-wrap: nowrap;

    align-self: flex-start;

    font-size: $font-size-sm;

    white-space: nowrap;
  }
}
