@import "../../../variables";

.mortgage-option-detail {
  position: relative;

  flex: 0 0 425px;

  background-color: $orange-option-detail;

  border: 1px solid $transparent;

  font-size: $font-size-sm;

  .scroller {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: auto;

    padding: $spacer;
  }
}
