@import "../../../variables";

.btn-popout {
  color: $orange;
  background-color: $white;

  border: 2px solid $orange;
}

.iconlink {
  color: $orange;
}

.eligibility-link {
  color: $orange;

  font-weight: bold;

  font-size: 11px;

  vertical-align: text-top;
}
