@import "../../../variables";
// Icons
$mdi-font-path: "~mdi/fonts/" !default;

@import "~mdi/scss/materialdesignicons";

.account-navigation {
  background-color: $orange-lighter;

  a {
    position: relative;

    color: $gray-800;
  }

  .active {
    color: $white;
    background-color: $orange;

    &::after {
      content: mdi("chevron-right");

      position: absolute;
      top: 9px;
      right: $spacer;

      font: normal normal normal 24px/1 "Material Design Icons";
    }
  }
}

.account-panel {
  .thead {
    background-color: $orange-lighter;
  }

  .table-header {
    color: black;
    background-color: $orange-lighter;
  }

  > .col {
    padding: 0;
  }
}

.account-wrapper {
  margin-bottom: $spacer * 2;
}
